<!DOCTYPE html>
<html lang="en">
    <head>
        <title>pomodoro</title>
        <script src="https://unpkg.com/htmx.org@2.0.0"></script>
        <script src="/assets/js/htmx.min.js"></script>
    </head>
    <body>
        <h1>pomodoro app from index</h1>
        <button hx-get="/hello" hx-target="#result">send hello</button>
        <div id="result">
        </div>
        <!--<div hx-get="/time" hx-trigger="every 1s" style="font-size: 5rem;"></div>-->

        <!-- timer -->

         <button hx-post="/timer/start">start timer</button>
         <button hx-post="/timer/stop">stop timer</button>


         <div hx-get="/timer" hx-trigger="every 1s"></div>


         <div id="notify"></div>
         <!--notify sound-->
         <audio id="notify-sound" src="/assets/sounds/notify.mp3"></audio>
         <script>
         function playSound() {
           const sound = document.getElementById('notify-sound');
             sound.load();
             sound.play().catch(err => console.log('Audio error:', err));
         }

         function showPopup(mode) {
             alert('Time to ' + mode + '!');
         }
         </script>
    </body>
</html>
